 .container {
     width: 1670px;
     outline: solid red;
     margin-left: auto;
     margin-right: auto;
 }


 .header-text {
     display: flex;

 }

 .header-contair {
     display: flex;

 }

 .header-pages {
     display: flex;
 }

 .header-navigation {
     display: flex;
 }

 .header {
     background: #000;
 }

 .header-logo {
     color: #FFF;
     font-feature-settings: 'clig' off, 'liga' off;
     font-family: Roboto;
     font-size: 23.961px;
     font-style: normal;
     font-weight: 900;
     line-height: 80.5%;
     letter-spacing: 0.315px;
     text-transform: uppercase;
     display: block;
     margin-left: 64.03px;
     width: 128px;

     align-items: center;

 }

 .header-link {
     color: #FFF;
     font-family: DM Sans;
     font-size: 18px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
     text-transform: uppercase;
 }


 .header-list {
     display: flex;
     gap: 23px;
     align-items: center;
     margin-left: 64px;
 }


 .header-menu {
     display: flex;
     margin-left: 842px;
     align-items: center;
 }



 /* меін */
 .hero {
     background-color: #000;

 }


 .hero-title {
     color: #FFF;
     font-family: Roboto;
     font-size: 120px;
     font-style: normal;
     font-weight: 900;
     line-height: 130px;
     text-transform: uppercase;
     width: 627px;
     margin-left: 277px;
     padding-top: 195px;
 }

 .hero-text {
     color: rgba(255, 255, 255, 0.80);
     text-align: center;
     font-family: DM Sans;
     font-size: 20px;
     font-style: normal;
     font-weight: 700;
     line-height: 150%;
 }

 .hero-button {
     display: flex;
     width: 271.141px;
     height: 82px;
     padding: 20px;
     justify-content: center;
     align-items: center;
     gap: 10px;
     flex-shrink: 0;
     border-radius: 211px;
     background: var(--Main-Red, #DD2242);
     color: rgba(255, 255, 255, 0.80);
     text-align: center;
     font-family: DM Sans;
     font-size: 20px;
     font-style: normal;
     font-weight: 700;
     line-height: 150%;
     margin-left: 277px;
     margin-top: 21px;
 }

 .daimond-title {
     color: #FFF;
     font-family: DM Sans;
     font-size: 26.409px;
     font-style: normal;
     font-weight: 700;
     line-height: 41.081px;
     margin-top: 14px;
 }

 .daimond-item {
     border: 1px solid #000;
     opacity: 0.6;
     background: #000;

 }

 .daimond-list {
     display: flex;
     justify-content: center;
     gap: 191px;
     width: 1225.638px;
     height: 210px;
     flex-shrink: 0;
 }

 .daimond-namber {
     color: #DD2242;
     font-family: Roboto;
     font-size: 16px;
     font-style: normal;
     font-weight: 900;
     line-height: normal;
     text-transform: uppercase;
 }



 .daimond-text {
     color: #939393;
     font-feature-settings: 'clig' off, 'liga' off;
     font-family: DM Sans;
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
     line-height: 28px;
     letter-spacing: 0.5px;
     width: 210px;
 }

 .articles-title {
     color: var(--White, #FFF);
     font-feature-settings: 'clig' off, 'liga' off;
     font-family: DM Sans;
     font-size: 42px;
     font-style: normal;
     font-weight: 700;
     line-height: 50px;
 }

 .articles-item {
     display: flex;
 }

 .articles-text {
     color: var(--neutral-white, #FFF);
     text-align: center;
     font-family: DM Sans;
     font-size: 18px;
     font-style: normal;
     font-weight: 700;
     line-height: 150%;
 }

 .articles-button {
     display: flex;
     width: 179.813px;
     padding: 16px 24px;
     justify-content: center;
     align-items: center;
     gap: 24px;

     border-radius: 32px;
     background: #DD2242;

     color: var(--neutral-white, #FFF);
     text-align: center;
     font-family: DM Sans;
     font-size: 18px;
     font-style: normal;
     font-weight: 700;
     line-height: 150%;
 }

 /* explore */

 .explore {
     background-image: url(./img/heroimage.png);
 }


 .explore-title {
     color: var(--Blue---Background, #010A20);
     text-align: center;
     font-family: DM Sans;
     font-size: 50px;
     font-style: normal;
     font-weight: 700;
     line-height: 150%;
     padding-top: 127px;
 }



 .explore-text {
     color: var(--Text-Lighten, #E0E0E0);
     text-align: center;
     font-feature-settings: 'clig' off, 'liga' off;
     font-family: DM Sans;
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
     line-height: 28px;
     letter-spacing: 0.5px;

 }

 .explore-list {
     display: flex;
     justify-content: center;
     gap: 31px;
     margin-top: 45px;
     padding-bottom: 933px;
 }

 .numbers {
     background-image: url(./img/nambersimage.png);
 }

 .numbers-title {
     color: #FFF;
     text-align: center;
     font-family: DM Sans;
     font-size: 60px;
     font-style: normal;
     font-weight: 700;
     line-height: 150%;
     padding-top: 201px;
 }


 .numbers-info {
     color: var(--Text-Lighten, #E0E0E0);
     text-align: center;
     font-feature-settings: 'clig' off, 'liga' off;
     font-family: DM Sans;
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
     line-height: 28px;
     letter-spacing: 0.5px;
     width: 484px;
     margin-left: auto;
     margin-right: auto;
 }

 .numbers-list {
     display: flex;
     justify-content: center;
     margin-top: 39px;
     padding-bottom: 224px;
 }

 .numbers-subtitle {
     color: #DD2242;
     text-align: center;
     font-family: DM Sans;
     font-size: 42.137px;
     font-style: normal;
     font-weight: 700;
     line-height: 49.16px;
     letter-spacing: 0.386px;
 }

 .numbers-text {
     color: var(--Text-Lighten, #E0E0E0);
     text-align: center;
     font-feature-settings: 'clig' off, 'liga' off;
     font-family: DM Sans;
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
     line-height: 28px;
     letter-spacing: 0.5px;
     width: 340px;

 }

 .map {}

 .map-title {
     color: #000;
     text-align: center;
     font-feature-settings: 'clig' off, 'liga' off;

     /* H3 */
     font-family: DM Sans;
     font-size: 42px;
     font-style: normal;
     font-weight: 700;
     line-height: 50px;
     /* 119.048% */
     width: 614px;
     margin-left: auto;
     margin-right: auto;
     padding-top: 249px;
 }

 .map-text {
     color: var(--Paragraph-Dark, #6F7787);
     text-align: center;
     font-feature-settings: 'clig' off, 'liga' off;

     /* Paragraph Light */
     font-family: DM Sans;
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
     line-height: 28px;
     /* 155.556% */
     letter-spacing: 0.5px;
     width: 470px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 24px;
     margin-bottom: 36px;
 }

 .map-button {
     color: var(--neutral-white, #FFF);
     text-align: center;
     font-family: DM Sans;
     font-size: 18px;
     font-style: normal;
     font-weight: 700;
     line-height: 150%;


     display: block;
     width: 210px;
     height: 64px;
     padding: 16px 24px;
     justify-content: center;
     align-items: center;
     gap: 24px;
     flex-shrink: 0;

     border-radius: 122px;
     background: #DD2242;
     margin-left: auto;
     margin-right: auto;

 }

 .video {
     background-image: url(./img/videoimage.png);
 }

 .video-title {
     color: var(--colors-white, #FFF);
     text-align: center;
     font-feature-settings: 'clig' off, 'liga' off;

     /* H3 */
     font-family: DM Sans;
     font-size: 42px;
     font-style: normal;
     font-weight: 700;
     line-height: 50px;
     /* 119.048% */
     width: 1056px;
     padding-top: 141px;
     margin-bottom: 67px;
     margin-left: auto;
     margin-right: auto;
 }



 .video-subtitle {
     color: var(--Colors-White, #FFF);

     /* CTA */
     font-family: "DM Sans";
     font-size: 18px;
     font-style: normal;
     font-weight: 700;
     line-height: 150%;
     /* 27px */
 }

 .video-title1 {
     color: var(--colors-white, #FFF);

     /* CTA */
     font-family: DM Sans;
     font-size: 18px;
     font-style: normal;
     font-weight: 700;
     line-height: 150%;
     /* 27px */
     width: 1056px;
     height: 594px;

     margin-left: auto;
     margin-right: auto;
     
 }

 .video-item{
    display: flex;
 }

 .video-list {
     display: flex;
 }

 .video-text {
     color: var(--colors-white, #FFF);
     font-feature-settings: 'clig' off, 'liga' off;

     /* Paragraph Light */
     font-family: DM Sans;
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
     line-height: 28px;
     /* 155.556% */
     letter-spacing: 0.5px;

     width: 334px;
 }

 .photogallery-title {
     color: var(--Blue---Background, #010A20);
     text-align: center;

     /* H2 */
     font-family: DM Sans;
     font-size: 60px;
     font-style: normal;
     font-weight: 700;
     line-height: 150%;
     /* 90px */
 }

 .photogallery-text {
     color: var(--Paragraph-Dark, #6F7787);
     text-align: center;

     /* Paragraph */
     font-family: DM Sans;
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
     line-height: 28px;
     /* 155.556% */
     letter-spacing: 0.18px;
 }

 .photogallery-list{
    display: flex;
 
    flex-wrap: wrap;
 }

 .getting-title {
     color: #010A20;

     /* H2 */
     font-family: DM Sans;
     font-size: 60px;
     font-style: normal;
     font-weight: 700;
     line-height: 150%;
     /* 90px */
 }

 .getting-number {
     color: var(--White, #FFF);
     text-align: center;
     font-family: DM Sans;
     font-size: 26.409px;
     font-style: normal;
     font-weight: 500;
     line-height: 38.146px;


 }

 .getting-subtitle {
     color: var(--Blue---Background, #010A20);

     /* H4 */
     font-family: DM Sans;
     font-size: 26.409px;
     font-style: normal;
     font-weight: 700;
     line-height: 41.081px;
     /* 155.556% */
 }

 .getting-text {
     color: var(--Light-Text, rgba(21, 20, 57, 0.40));
     font-family: DM Sans;
     font-size: 23.475px;
     font-style: normal;
     font-weight: 400;
     line-height: 38.146px;
     /* 162.5% */
 }

 .getting-button {
     color: var(--neutral-white, #FFF);
     text-align: center;
     font-family: DM Sans;
     font-size: 18px;
     font-style: normal;
     font-weight: 700;
     line-height: 150%;

     display: flex;
     width: 210px;
     height: 64px;
     padding: 16px 24px;
     justify-content: center;
     align-items: center;
     gap: 24px;
     flex-shrink: 0;

     border-radius: 122px;
     background: #DD2242;
 }

 .footer {
     background: var(--Blue---Background, #010A20);
 }

 .logo {
     color: #DD2242;
     font-feature-settings: 'clig' off, 'liga' off;
     font-family: Roboto;
     font-size: 23.961px;
     font-style: normal;
     font-weight: 900;
     line-height: 90.5%;
     /* 21.684px */
     letter-spacing: 0.315px;
     text-transform: uppercase;
 }

 .footer-logo {
     color: #FFF;
     font-feature-settings: 'clig' off, 'liga' off;
     font-family: Roboto;
     font-size: 23.961px;
     font-style: normal;
     font-weight: 900;
     line-height: 90.5%;
     letter-spacing: 0.315px;
     text-transform: uppercase;
 }

 .footer-link {
     color: var(--main-white, #FFF);
     font-feature-settings: 'clig' off, 'liga' off;
     font-family: DM Sans;
     font-size: 18px;
     font-style: normal;
     font-weight: 700;
     line-height: 28px;
     /* 155.556% */
     letter-spacing: 0.5px;
 }

 .footer-text {
     color: var(--main-white, #FFF);
     font-feature-settings: 'clig' off, 'liga' off;
     font-family: DM Sans;
     font-size: 18px;
     font-style: normal;
     font-weight: 700;
     line-height: 28px;
     /* 155.556% */
     letter-spacing: 0.5px;
 }